<!-- views/apropos.ejs -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>À Propos</title>
</head>
<body>
    <h1>Membres de l'Équipe</h1>
    <nav>
        <%- include("navbar") -%>
    </nav>
    <ul>
        <% membres.forEach(membre => { %>
            <li><%= membre.nom %> <%= membre.prenom %> - <%= membre.poste %></li>
        <% }); %>
    </ul>
</body>

<%- include("footer") -%>
</html>